img{
    height:auto;
    display: block;
    max-width: 475px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
h2{
    font-family: Verdana;
    font-size: 15pt;
}

div.center{
    left: 50%;
    right: 50%;
}


@media only screen and (max-width:475px){

}

@media only screen and (max-width:834px){

}

@media only screen and (max-width:1920px){

}

